node_modules
build/*
!build/caller.wat
!build/get_string.wat
!build/caller_json.wasm
!build/local_hello_name_caller.wat
!build/create_sc.wasm
!build/no_main.wasm
!build/send_message.wasm
!build/receive_message.wasm
